@keyframes animate1 {
    20% {
        @include animatePos(35, 12, 15, 26);
    }
    40% {
        @include animatePos(30, 15, 20, 20);
    }
    80% {
        @include animatePos(7, 16, 24, 18);
    }
}

@keyframes animate2 {
    0% {
        top: 25px;
        height: 5px;
    }
    30% {
        top: 0px;
        height: 50px;
    }
    60% {
        top: 25px;
        height: 5px;
    }
}

@keyframes animate3 {
    50% {
        border-radius: 50%;
        transform: rotate(90deg);
    }
    100% {
        border-radius: 0;
        transform: rotate(180deg);
    }
}

@keyframes animate4 {
    25% {
        @include animatePos(21, 12, 14, 26);
    }
    50% {
        @include animatePos(15, 15, 20, 20);
    }
    62.5% {
        transform: rotate(0);
    }
    75% {
        @include animatePos(5, 15, 20, 20);
    }
    87.5% {
        transform: rotate(180deg);
    }
    100% {
        @include animatePos(15, 15, 20, 20);
        transform: rotate(180deg);
    }
}

@keyframes animate5 {
    40% {
        @include animatePos(14, 19, 12, 12);
    }
    50% {
        @include animatePos(18, 17, 8, 16);
    }
    60% {
        @include animatePos(14, 19, 12, 12);
    }
}

@keyframes animate6 {
    10% {
        transform: scale(1);
    }
    20% {
        transform: scale(.5);
    }
}

@keyframes animate7 {
    60% {
        @include animatePos(-1, -1, 50, 50);
        opacity: 0;
    }
    95% {
        @include animatePos(24, 24, 0, 0);
        opacity: 0;
    }
}

@keyframes animate8 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate9-1 {
    100% {
        transform: rotate(90deg);
    }
}

@keyframes animate9-2 {
    50% {
        transform: scale(.2);
    }
}