@-webkit-keyframes animate1 {
	0% {
		@include animatePos(0, 0, 20, 20);
	}
	10% {
		@include animatePos(5, -2.5, 15, 25);
	}
	17% {
		@include animatePos(0, 0, 20, 20);
	}
	66% {
		@include animatePos(-23, 2, 24, 16);
	}
}

@-webkit-keyframes animate2 {
	0%{
		top: 25px;
		height: 5px;
	}
	30%{
		top: 0px;
		height: 50px;
	}
	60%{
		top: 25px;
		height: 5px;
	}
}

@-webkit-keyframes animate3{
	50%{
		border-radius: 50%;
		-webkit-transform: rotate(90deg);
	}
	100%{
		border-radius: 0;
		-webkit-transform: rotate(180deg);
	}
}

@-webkit-keyframes animate4{
	0% {
		@include animatePos(0, 0, 15, 20);
	}
	10% {
		@include animatePos(5, 0, 14, 20);
	}
	17% {
		@include animatePos(0, 0, 15, 20);
	}
	66% {
		@include animatePos(-23, 2, 20, 20);
	}
}