@keyframes animate1 {
    10% {
        @include animatePos(35, 12.5, 15, 25);
    }
    17% {
        @include animatePos(30, 15, 20, 20);
    }
    66% {
        @include animatePos(7, 17, 24, 16);
    }
}

@keyframes animate2 {
    0% {
        top: 25px;
        height: 5px;
    }
    30% {
        top: 0px;
        height: 50px;
    }
    60% {
        top: 25px;
        height: 5px;
    }
}

@keyframes animate3 {
    50% {
        border-radius: 50%;
        transform: rotate(90deg);
    }
    100% {
        border-radius: 0;
        transform: rotate(180deg);
    }
}

@keyframes animate4 {
    0% {
        @include animatePos(30, 15, 15, 20);
    }
    10% {
        @include animatePos(35, 15, 14, 20);
    }
    17% {
        @include animatePos(30, 15, 15, 20);
    }
    66% {
        @include animatePos(7, 17, 20, 20);
    }
}

@keyframes animate5 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate6 {
    25% {
        @include animatePos(21, 12, 14, 26);
    }
    50% {
        @include animatePos(15, 15, 20, 20);
    }
    62.5% {
        transform: rotate(0);
    }
    75% {
        @include animatePos(5, 15, 20, 20);
    }
    87.5% {
        transform: rotate(180deg);
    }
    100% {
        @include animatePos(15, 15, 20, 20);
        transform: rotate(180deg);
    }
}

@keyframes animate7 {
    40% {
        @include animatePos(14, 19, 12, 12);
    }
    50% {
        @include animatePos(18, 17, 8, 16);
    }
    60% {
        @include animatePos(14, 19, 12, 12);
    }
}

@keyframes animate8 {
    10% {
        transform: scale(1);
    }
    20% {
        transform: scale(.5);
    }
}

@keyframes animate9 {
    60% {
        opacity: 0;
    }
    100% {
        @include animatePos(-26, -26, 100, 100);
        opacity: 0;
    }
}

@keyframes animate10 {
    100% {
        transform: rotate(360deg);
    }
}