@import "mixin";
@import "keyframe";

$color: #e68616, #8bc626, #45B4D9, #f77167, #EDCC6D, #DC73FB;

body{
    background: #eee;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

.content{
    width: 320px;
    margin: 0 auto;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    & > div{
        position: relative;
        height: 50px;
        width: 50px;
        margin-top: 12px;
        margin-left: 12px;
        float: left;
    }
}

.loading1{
    div{
        position: absolute;
        top: 30px;
        left: 15px;
        height: 20px;
        width: 20px;
        background: nth($color, 1);
        border-radius: 50%;
        animation: animate1 .8s infinite;
    }
}

.loading2{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
    div{
        position: absolute;
        top: 25px;
        height: 5px;
        width: 6px;
        margin-left: 2px;
        background: nth($color, 2);
        float: left;
        animation: animate2 1s infinite;
        &:nth-child(4n+2){
            animation-delay: .25s;
        }
        &:nth-child(4n+3){
            animation-delay: .5s;
        }
        &:nth-child(4n+4){
            animation-delay: .75s;
        }

    }
    @for $i from 0 through 9{
        div:nth-child(#{$i+1}){
            left: #{$i * 7px - 1px};
        }
    }
}

.loading3{
    div{
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
        background: nth($color, 4);
        animation: animate3 1s infinite;
    }
}

.loading6 {
    div {
        @include positionType(absolute, 15px, 15px);
        height: 20px;
        width: 20px;
        background: nth($color, 3);
        animation: animate6 1s linear infinite;
    }
}

.loading7 {
    div {
        @include positionType(absolute, 0, 0);
        height: 50px;
        width: 50px;
        &:after {
            content: "";
            @include positionType(absolute, 0px, 19px);
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: nth($color, 1);
            animation: animate7 1s linear infinite;
        }
        &:nth-child(2n) {
            &:after {
                animation-delay: .5s;
            }
        }
    }
    @for $i from 0 through 3 {
        div:nth-child(#{$i+1}) {
            transform: rotate(#{$i * 90deg + 45deg});
        }
    }
}

.loading8 {
    div {
        @include positionType(absolute, 0, 0);
        height: 50px;
        width: 50px;
        &:after {
            content: "";
            @include positionType(absolute, 5px, 19px);
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: nth($color, 2);
            transform: scale(.5);
            animation: animate8 2.4s linear infinite;
        }
    }
    @for $i from 0 through 7 {
        div:nth-child(#{$i+1}) {
            transform: rotate(#{$i * 45deg});
            &:after {
                animation-delay: #{$i * .3s};
            }
        }
    }
}

.loading9 {
    div {
        @include positionType(absolute, 24px, 24px);
        height: 0;
        width: 0;
        border-radius: 50%;
        border: 2px solid nth($color, 3);
        animation: animate9 1.8s linear infinite;
        @for $i from 0 through 2 {
            &:nth-child(#{$i+1}) {
                animation-delay: #{$i * .3s};
            }
        }
    }
}

.loading10 {
    & > div {
        height: 50px;
        width: 50px;
        animation: animate10 5s linear infinite;
        div {
            @include positionType(absolute, 10px, 21px);
            height: 15px;
            width: 8px;
            background: nth($color, 4);
            border-radius: 50%;
            opacity: .5;
            @for $i from 0 through 7 {
                &:nth-child(#{$i+1}) {
                    transform: rotate($i * 45deg);
                    transform-origin: bottom center;
                }
            }
        }
    }
}

.loading11 {
    & > div {
        height: 50px;
        width: 50px;
        animation: animate111 1.5s linear infinite;
        div {
            @include positionType(absolute, 0, 0);
            height: 50px;
            width: 50px;
            &:after {
                content: "";
                @include positionType(absolute, 7px, 19px);
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background: nth($color, 1);
                animation: animate11 1.5s linear infinite;
            }
            @for $i from 0 through 3 {
                &:nth-child(#{$i+1}) {
                    transform: rotate(#{$i * 90deg});
                }
            }
        }
    }
}