@import "mixin";
@import "keyframe";

$color: #e68616, #8bc626, #45B4D9, #f77167, #EDCC6D, #DC73FB;

body{
    background: #eee;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

.content{
    width: 320px;
    min-height: 500px;
    margin: 50px auto;
    & > div{
        position: relative;
        height: 50px;
        width: 50px;
        margin: 20px auto 0 auto;
    }
}

.loading1{
    div{
        position: absolute;
        top: 30px;
        left: 15px;
        height: 20px;
        width: 20px;
        background: nth($color, 1);
        border-radius: 50%;
        -webkit-animation: animate1 .85s infinite;
    }
}

.loading2{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
    div{
        position: absolute;
        top: 25px;
        height: 5px;
        width: 5px;
        margin-left: 2px;
        background: nth($color, 2);
        float: left;
        -webkit-animation: animate2 1s infinite;
        &:nth-child(4n+2){
            -webkit-animation-delay: .25s;
        }
        &:nth-child(4n+3){
            -webkit-animation-delay: .5s;
        }
        &:nth-child(4n+4){
            -webkit-animation-delay: .75s;
        }

    }
    @for $i from 0 through 9{
        div:nth-child(#{$i+1}){
            left: ($i * 7) - 10px;
        }
    }
}

.loading3{
    div{
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
        background: nth($color, 4);
        -webkit-animation: animate3 1s infinite;
    }
}

.loading4{
    div{
        position: absolute;
        top: 30px;
        left: 15px;
        height: 15px;
        width: 20px;
        border-radius: 50%;
        background: nth($color, 3);
        -webkit-animation: animate4 .85s infinite;
        &:after{
            content: "";
            position: absolute;
            top: -2px;
            left: 5px;
            width: 10px; 
            height: 10px;
            -webkit-transform: rotate(45deg);
            background: nth($color, 3);
        }
    }
    span:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        &:before{
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            height: 5px;
            width: 5px;
            line-height: 0;
            border-radius: 50%;
            background: #eee;
        }
        &:after{
            content: "";
            position: absolute;
            top: 3px;
            left: 11px;
            height: 5px;
            width: 5px;
            line-height: 0;
            border-radius: 50%;
            background: #eee;
        }
    }
    span:nth-child(2){
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        &:before{
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            height: 3px;
            width: 3px;
            line-height: 0;
            border-radius: 50%;
            background: #000;
        }
        &:after{
            content: "";
            position: absolute;
            top: 4px;
            left: 12px;
            height: 3px;
            width: 3px;
            line-height: 0;
            border-radius: 50%;
            background: #000;
        }
    }
    span:nth-child(3){
        position: absolute;
        top: 2px;
        left: 8px;
        color: red;
        font-size: 13px;
        -webkit-transform: rotate(90deg);
    }
}

.loading5{
    div{
        position: absolute;
        top: 15px;
        left: 15px;
        height: 20px;
        width: 20px;
        -webkit-animation: animate5 1s linear infinite;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 10px;
            border-radius: 50%;
            background: nth($color, 1);
        }
    }
    @for $i from 0 through 7{
        div:nth-child(#{$i+1}){
            -webkit-animation-delay: $i * .08s;
            &:after{
                height: (8 - $i) * .6px;
                width: (8 - $i) * .6px;
            }
        }
    }
}

.loading6 {
    div {
        @include positionType(absolute, 15px, 15px);
        height: 20px;
        width: 20px;
        background: nth($color, 4);
        -webkit-animation: animate6 1s linear infinite;
    }
}

.loading7 {
    div {
        @include positionType(absolute, 0, 0);
        height: 50px;
        width: 50px;
        &:after {
            content: "";
            @include positionType(absolute, 0px, 19px);
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: nth($color, 1);
            -webkit-animation: animate7 1s linear infinite;
        }
        &:nth-child(2n) {
            &:after {
                -webkit-animation-delay: .5s;
            }
        }
    }
    @for $i from 0 through 3 {
        div:nth-child(#{$i+1}) {
            -webkit-transform: rotate(#{$i * 90deg + 45deg});
        }
    }
}

.loading8 {
    div {
        @include positionType(absolute, 0, 0);
        height: 50px;
        width: 50px;
        &:after {
            content: "";
            @include positionType(absolute, 5px, 19px);
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: nth($color, 1);
            -webkit-transform: scale(.5);
            -webkit-animation: animate8 2.4s linear infinite;
        }
    }
    @for $i from 0 through 7 {
        div:nth-child(#{$i+1}) {
            -webkit-transform: rotate(#{$i * 45deg});
            &:after {
                -webkit-animation-delay: #{$i * .3s};
            }
        }
    }
}

.loading9 {
    
}