@-webkit-keyframes animate1 {
  0% {
    top: 30px;
    left: 15px;
    width: 20px;
    height: 20px;
  }
  10% {
    top: 35px;
    left: 12.5px;
    width: 25px;
    height: 15px;
  }
  17% {
    top: 30px;
    left: 15px;
    width: 20px;
    height: 20px;
  }
  66% {
    top: 7px;
    left: 17px;
    width: 16px;
    height: 24px;
  }
}
@-webkit-keyframes animate2 {
  0% {
    top: 25px;
    height: 5px;
  }
  30% {
    top: 0px;
    height: 50px;
  }
  60% {
    top: 25px;
    height: 5px;
  }
}
@-webkit-keyframes animate3 {
  50% {
    border-radius: 50%;
    -webkit-transform: rotate(90deg);
  }
  100% {
    border-radius: 0;
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes animate4 {
  0% {
    top: 30px;
    left: 15px;
    width: 20px;
    height: 15px;
  }
  10% {
    top: 35px;
    left: 15px;
    width: 20px;
    height: 14px;
  }
  17% {
    top: 30px;
    left: 15px;
    width: 20px;
    height: 15px;
  }
  66% {
    top: 7px;
    left: 17px;
    width: 20px;
    height: 20px;
  }
}
@-webkit-keyframes animate5 {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
body {
  background: #eee;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.content {
  width: 320px;
  min-height: 500px;
  margin: 50px auto;
}
.content > div {
  position: relative;
  height: 50px;
  width: 50px;
  margin: 20px auto 0 auto;
}

.loading1 div {
  position: absolute;
  top: 30px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: #e68616;
  border-radius: 50%;
  -webkit-animation: animate1 .85s infinite;
}

.loading2:after {
  content: "";
  display: block;
  clear: both;
}
.loading2 div {
  position: absolute;
  top: 25px;
  height: 5px;
  width: 5px;
  margin-left: 2px;
  background: #8bc626;
  float: left;
  -webkit-animation: animate2 1s infinite;
}
.loading2 div:nth-child(4n+2) {
  -webkit-animation-delay: .25s;
}
.loading2 div:nth-child(4n+3) {
  -webkit-animation-delay: .5s;
}
.loading2 div:nth-child(4n+4) {
  -webkit-animation-delay: .75s;
}
.loading2 div:nth-child(1) {
  left: -10px;
}
.loading2 div:nth-child(2) {
  left: -3px;
}
.loading2 div:nth-child(3) {
  left: 4px;
}
.loading2 div:nth-child(4) {
  left: 11px;
}
.loading2 div:nth-child(5) {
  left: 18px;
}
.loading2 div:nth-child(6) {
  left: 25px;
}
.loading2 div:nth-child(7) {
  left: 32px;
}
.loading2 div:nth-child(8) {
  left: 39px;
}
.loading2 div:nth-child(9) {
  left: 46px;
}
.loading2 div:nth-child(10) {
  left: 53px;
}

.loading3 div {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: #f77167;
  -webkit-animation: animate3 1s infinite;
}

.loading4 div {
  position: absolute;
  top: 30px;
  left: 15px;
  height: 15px;
  width: 20px;
  border-radius: 50%;
  background: #45B4D9;
  -webkit-animation: animate4 .85s infinite;
}
.loading4 div:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 5px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  background: #45B4D9;
}
.loading4 span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.loading4 span:nth-child(1):before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 5px;
  width: 5px;
  line-height: 0;
  border-radius: 50%;
  background: #eee;
}
.loading4 span:nth-child(1):after {
  content: "";
  position: absolute;
  top: 3px;
  left: 11px;
  height: 5px;
  width: 5px;
  line-height: 0;
  border-radius: 50%;
  background: #eee;
}
.loading4 span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.loading4 span:nth-child(2):before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  height: 3px;
  width: 3px;
  line-height: 0;
  border-radius: 50%;
  background: #000;
}
.loading4 span:nth-child(2):after {
  content: "";
  position: absolute;
  top: 4px;
  left: 12px;
  height: 3px;
  width: 3px;
  line-height: 0;
  border-radius: 50%;
  background: #000;
}
.loading4 span:nth-child(3) {
  position: absolute;
  top: 2px;
  left: 7px;
  color: red;
  font-size: 13px;
  -webkit-transform: rotate(90deg);
}

.loading5 div {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  -webkit-animation: animate5 1s linear infinite;
}
.loading5 div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 50%;
  background: #EDCC6D;
}
.loading5 div:nth-child(1) {
  -webkit-animation-delay: 0s;
}
.loading5 div:nth-child(1):after {
  height: 4.8px;
  width: 4.8px;
}
.loading5 div:nth-child(2) {
  -webkit-animation-delay: 0.08s;
}
.loading5 div:nth-child(2):after {
  height: 4.2px;
  width: 4.2px;
}
.loading5 div:nth-child(3) {
  -webkit-animation-delay: 0.16s;
}
.loading5 div:nth-child(3):after {
  height: 3.6px;
  width: 3.6px;
}
.loading5 div:nth-child(4) {
  -webkit-animation-delay: 0.24s;
}
.loading5 div:nth-child(4):after {
  height: 3px;
  width: 3px;
}
.loading5 div:nth-child(5) {
  -webkit-animation-delay: 0.32s;
}
.loading5 div:nth-child(5):after {
  height: 2.4px;
  width: 2.4px;
}
.loading5 div:nth-child(6) {
  -webkit-animation-delay: 0.4s;
}
.loading5 div:nth-child(6):after {
  height: 1.8px;
  width: 1.8px;
}
.loading5 div:nth-child(7) {
  -webkit-animation-delay: 0.48s;
}
.loading5 div:nth-child(7):after {
  height: 1.2px;
  width: 1.2px;
}
.loading5 div:nth-child(8) {
  -webkit-animation-delay: 0.56s;
}
.loading5 div:nth-child(8):after {
  height: 0.6px;
  width: 0.6px;
}

/*# sourceMappingURL=style.css.map */
