@keyframes animate1 {
  20% {
    top: 35px;
    left: 12px;
    width: 26px;
    height: 15px;
  }
  40% {
    top: 30px;
    left: 15px;
    width: 20px;
    height: 20px;
  }
  80% {
    top: 7px;
    left: 16px;
    width: 18px;
    height: 24px;
  }
}
@keyframes animate2 {
  0% {
    top: 25px;
    height: 5px;
  }
  30% {
    top: 0px;
    height: 50px;
  }
  60% {
    top: 25px;
    height: 5px;
  }
}
@keyframes animate3 {
  50% {
    border-radius: 50%;
    transform: rotate(90deg);
  }
  100% {
    border-radius: 0;
    transform: rotate(180deg);
  }
}
@keyframes animate6 {
  25% {
    top: 21px;
    left: 12px;
    width: 26px;
    height: 14px;
  }
  50% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
  }
  62.5% {
    transform: rotate(0);
  }
  75% {
    top: 5px;
    left: 15px;
    width: 20px;
    height: 20px;
  }
  87.5% {
    transform: rotate(180deg);
  }
  100% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
  }
}
@keyframes animate7 {
  40% {
    top: 14px;
    left: 19px;
    width: 12px;
    height: 12px;
  }
  50% {
    top: 18px;
    left: 17px;
    width: 16px;
    height: 8px;
  }
  60% {
    top: 14px;
    left: 19px;
    width: 12px;
    height: 12px;
  }
}
@keyframes animate8 {
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.5);
  }
}
@keyframes animate9 {
  60% {
    opacity: 0;
  }
  100% {
    top: -26px;
    left: -26px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
@keyframes animate10 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate111 {
  100% {
    transform: rotate(90deg);
  }
}
@keyframes animate11 {
  50% {
    transform: scale(0.2);
  }
}
body {
  background: #eee;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.content {
  width: 320px;
  min-height: 800px;
  margin: 50px auto;
}
.content > div {
  position: relative;
  height: 50px;
  width: 50px;
  margin: 20px auto 0 auto;
}

.loading1 div {
  position: absolute;
  top: 30px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: #e68616;
  border-radius: 50%;
  animation: animate1 .8s infinite;
}

.loading2:after {
  content: "";
  display: block;
  clear: both;
}
.loading2 div {
  position: absolute;
  top: 25px;
  height: 5px;
  width: 5px;
  margin-left: 2px;
  background: #8bc626;
  float: left;
  animation: animate2 1s infinite;
}
.loading2 div:nth-child(4n+2) {
  animation-delay: .25s;
}
.loading2 div:nth-child(4n+3) {
  animation-delay: .5s;
}
.loading2 div:nth-child(4n+4) {
  animation-delay: .75s;
}
.loading2 div:nth-child(1) {
  left: -10px;
}
.loading2 div:nth-child(2) {
  left: -3px;
}
.loading2 div:nth-child(3) {
  left: 4px;
}
.loading2 div:nth-child(4) {
  left: 11px;
}
.loading2 div:nth-child(5) {
  left: 18px;
}
.loading2 div:nth-child(6) {
  left: 25px;
}
.loading2 div:nth-child(7) {
  left: 32px;
}
.loading2 div:nth-child(8) {
  left: 39px;
}
.loading2 div:nth-child(9) {
  left: 46px;
}
.loading2 div:nth-child(10) {
  left: 53px;
}

.loading3 div {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: #f77167;
  animation: animate3 1s infinite;
}

.loading6 div {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: #45B4D9;
  animation: animate6 1s linear infinite;
}

.loading7 div {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
}
.loading7 div:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 19px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #e68616;
  animation: animate7 1s linear infinite;
}
.loading7 div:nth-child(2n):after {
  animation-delay: .5s;
}
.loading7 div:nth-child(1) {
  transform: rotate(45deg);
}
.loading7 div:nth-child(2) {
  transform: rotate(135deg);
}
.loading7 div:nth-child(3) {
  transform: rotate(225deg);
}
.loading7 div:nth-child(4) {
  transform: rotate(315deg);
}

.loading8 div {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
}
.loading8 div:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 19px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #8bc626;
  transform: scale(0.5);
  animation: animate8 2.4s linear infinite;
}
.loading8 div:nth-child(1) {
  transform: rotate(0deg);
}
.loading8 div:nth-child(1):after {
  animation-delay: 0s;
}
.loading8 div:nth-child(2) {
  transform: rotate(45deg);
}
.loading8 div:nth-child(2):after {
  animation-delay: 0.3s;
}
.loading8 div:nth-child(3) {
  transform: rotate(90deg);
}
.loading8 div:nth-child(3):after {
  animation-delay: 0.6s;
}
.loading8 div:nth-child(4) {
  transform: rotate(135deg);
}
.loading8 div:nth-child(4):after {
  animation-delay: 0.9s;
}
.loading8 div:nth-child(5) {
  transform: rotate(180deg);
}
.loading8 div:nth-child(5):after {
  animation-delay: 1.2s;
}
.loading8 div:nth-child(6) {
  transform: rotate(225deg);
}
.loading8 div:nth-child(6):after {
  animation-delay: 1.5s;
}
.loading8 div:nth-child(7) {
  transform: rotate(270deg);
}
.loading8 div:nth-child(7):after {
  animation-delay: 1.8s;
}
.loading8 div:nth-child(8) {
  transform: rotate(315deg);
}
.loading8 div:nth-child(8):after {
  animation-delay: 2.1s;
}

.loading9 div {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 0;
  width: 0;
  border-radius: 50%;
  border: 2px solid #45B4D9;
  animation: animate9 1.8s linear infinite;
}
.loading9 div:nth-child(1) {
  animation-delay: 0s;
}
.loading9 div:nth-child(2) {
  animation-delay: 0.3s;
}
.loading9 div:nth-child(3) {
  animation-delay: 0.6s;
}

.loading10 > div {
  height: 50px;
  width: 50px;
  animation: animate10 5s linear infinite;
}
.loading10 > div div {
  position: absolute;
  top: 10px;
  left: 21px;
  height: 15px;
  width: 8px;
  background: #f77167;
  border-radius: 50%;
  opacity: .5;
}
.loading10 > div div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: bottom center;
}
.loading10 > div div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: bottom center;
}
.loading10 > div div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: bottom center;
}
.loading10 > div div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: bottom center;
}
.loading10 > div div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: bottom center;
}
.loading10 > div div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: bottom center;
}
.loading10 > div div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: bottom center;
}
.loading10 > div div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: bottom center;
}

.loading11 > div {
  height: 50px;
  width: 50px;
  animation: animate111 1.5s linear infinite;
}
.loading11 > div div {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
}
.loading11 > div div:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 19px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #e68616;
  animation: animate11 1.5s linear infinite;
}
.loading11 > div div:nth-child(1) {
  transform: rotate(0deg);
}
.loading11 > div div:nth-child(2) {
  transform: rotate(90deg);
}
.loading11 > div div:nth-child(3) {
  transform: rotate(180deg);
}
.loading11 > div div:nth-child(4) {
  transform: rotate(270deg);
}

/*# sourceMappingURL=style.css.map */
